<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
        <property name="url" value="jdbc:sqlserver://172.16.20.1:1433;DatabaseName="/>
        <property name="username" value="GungnirReader"/>
        <property name="password" value="itsme999"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/example/demo/util/mybatis/mapper/BlogMapper.xml"/>
    <mapper resource="com/example/demo/util/mybatis/mapper/PurchaseApplyPaymentMapper.xml"/>
  </mappers>
</configuration>